<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h4> Guías</h4>
                            <% if (typeof name != "undefined") { %>
                                <a href="/home">
                                    <i class="tim-icons icon-chart-pie-36 "></i>
                                    <p>
                                        <%= name %>
                                    </p>
                                </a>
                                <% } %>
                                    <a href="/createGuide"><button type="button" class="btn btn-primary">Crear Guía</button></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="guides">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        #Num
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Artefacto
                                    </th>
                                    <th class="text-left">
                                        Marca
                                    </th>
                                    <th>
                                        Modelo
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th class="text-left">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% guias.forEach((guia) => { %>
                                    <tr>
                                        <td>
                                            <%= guia.codigo %>
                                        </td>
                                        <td>
                                            <%= guia.nombresC %>
                                                <%= guia.apellidosC %>
                                        </td>
                                        <td>
                                            <%= guia.artefacto %>
                                        </td>
                                        <td class="text-left">
                                            <%= guia.marca %>
                                        </td>
                                        <td>
                                            <%= guia.modelo %>
                                        </td>
                                        <td class="text-left">
                                            <%= guia.fecha_ing %>
                                        </td>
                                        <% if (guia.estado == "Entregado") {  %>
                                            <td>
                                                <span class="badge bg-success"><%= guia.estado %></span>
                                            </td>
                                            <% } else { %>
                                                <td>
                                                    <span class="badge bg-warning text-dark"><%= guia.estado %></span>
                                                </td>
                                                <% } %>
                                                    <td class="text-left">
                                                        <a type="button" data-toggle="modal" data-target="#modal<%= guia._id %>Guia" data-bs-toggle="tooltip" title="Ver" aria-hidden="true"><i class="fas fa-eye" ></i></a>
                                                        <!--Modal Editar Guia-->
                                                        <div class="modal fade" id="modal<%= guia._id %>Guia" tabindex="-1" aria-labelledby="modalGuia" aria-hidden="true">
                                                            <div class="modal-dialog modal-lg">
                                                                <div class="modal-content">
                                                                    <div class="modal-header bg-primary text-white">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Contenido</h5>
                                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form action="/editar" method="POST">
                                                                            <div class="row">
                                                                                <div class="col-sm-2 pr-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Codigo Guia</label>
                                                                                        <input type="text" class="form-control" placeholder="5515" value="<%= guia.codigo%>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-5 pr-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Nombres</label>
                                                                                        <input type="text" class="form-control" placeholder="Jesús" value="<%= guia.nombresC %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-5 pl-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Apellidos</label>
                                                                                        <input type="text" class="form-control" placeholder="Gimenez" value="<%= guia.apellidosC %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-2 pr-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>DNI</label>
                                                                                        <input type="text" class="form-control" placeholder="74447744" value="<%= guia.dni %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-2 px-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Teléfono</label>
                                                                                        <input type="text" class="form-control" placeholder="985688545" value="<%= guia.telefono %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-8 pl-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Dirección</label>
                                                                                        <input type="text" class="form-control" placeholder="Dirección" value="<%= guia.direccion %>" disabled>

                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-2">
                                                                                    <div class="form-group">
                                                                                        <label for="exampleInputEmail1">Artefacto</label>
                                                                                        <input type="text" class="form-control uppercase" id="artefacto" name="artefacto" placeholder="TV" value="<%= guia.artefacto %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-4 pr-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Marca</label>
                                                                                        <input type="text" class="form-control uppercase" id="marca" name="marca" placeholder="Marca" value="<%= guia.marca %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4 px-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Modelo</label>
                                                                                        <input type="text" class="form-control uppercase" id="modelo" name="modelo" placeholder="Modelo" value="<%= guia.modelo %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4 pl-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Serie</label>
                                                                                        <input type="text" class="form-control uppercase" id="serie" name="serie" placeholder="Serie" value="<%= guia.serie %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Accesorios</label>
                                                                                        <textarea rows="4" cols="80" class="form-control" placeholder="Aquí se describen los accesorios que dejó como control, cables y demás" disabled><%= guia.accesorios %></textarea>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-6">
                                                                                    <div class="form-group">
                                                                                        <label>Descripción</label>
                                                                                        <textarea rows="4" cols="80" class="form-control" placeholder="Aquí va la descripción del problema" disabled><%= guia.descripcion %></textarea>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-sm-4 pr-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Fecha Ingreso</label>
                                                                                        <input type="date" class="form-control" placeholder="25/04/2022" value="<%= guia.fecha_ing %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4 px-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Monto</label>
                                                                                        <input type="text" class="form-control" placeholder="115.0" value="<%= guia.monto %>" disabled>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-sm-4 pl-sm-1">
                                                                                    <div class="form-group">
                                                                                        <label>Estado</label><br>
                                                                                        <select class="form-control" name="estado">
                                                        <option value=""></option>
                                                        <option <%= guias.estado== 'Entregado' ? "selected" : '' %>>Entregado</option>
                                                        <option <%= guias.estado== 'en revision' ? "selected" : '' %>>En revisión</option>
                                                    </select>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--Fin Prueba-->
                                                                        </form>
                                                                    </div>
                                                                    <!--Fin Modal Editar Guia-->
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a type="button" href="/editGuide/<%= guia._id %>"><i class="fas fa-edit" data-bs-toggle="tooltip" title="Editar"></i></a>
                                                        <a type="button" href="tel:+51<%= guia.telefono %>" target="_blank"><i class="fas fa-phone" data-bs-toggle="tooltip" title="Llamar"></i></a>
                                                        <a type="button" href="https://wa.me/51<%= guia.telefono %>" target="_blank"><i class="fab fa-whatsapp" data-bs-toggle="tooltip" title="Mandar un mensaje"></i></a>
                                                        <!--<a type="button" href="/deleteGuide/<%= guia._id %>"><i class="btn btn-primary btn-sm">Borrar</i></a>-->
                                                    </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                    </div>





                </div>
            </div>
        </div>
    </div>
</div>