<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h4 class="card-title"> Almacén</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="products" class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr>
                                    <th>
                                        Codigo
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th class="text-center">
                                        Precio Compra
                                    </th>
                                    <th>
                                        Precio Venta
                                    </th>
                                    <th class="text-center">
                                        Precio Venta #2
                                    </th>
                                    <th class="text-center">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% productos.forEach((producto) => { %>
                                    <tr>
                                        <td>
                                            <%= producto.codigo %>
                                        </td>
                                        <td>
                                            <%= producto.nombre %>
                                        </td>
                                        <td class="text-center">
                                            <%= producto.precio_compra %>
                                        </td>
                                        <td class="text-center">
                                            <%= producto.precio_v1 %>
                                        </td>
                                        <td class="text-center">
                                            <%= producto.precio_v2 %>
                                        </td>
                                        <td class="text-center">
                                            <a type="button" href="/editProduct/<%= producto._id %>" class="btn btn-outline-light bi bi-pencil btn-sm"><i class="fas fa-edit"></i></a>
                                            <a type="button" href="/deleteProduct/<%= producto._id %>" class="btn btn-outline-danger bi bi-trash btn-sm"><i class="far fa-trash-alt"></i></a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>